In [1]:
print('hello')

hello

In [2]:
print('new')

new

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*3

6

In [4]:
3/2

1.5

In [5]:
7/4

1.75

In [6]:
7%4

3

In [7]:
50%5

0

In [8]:
23%2

1

In [9]:
 0.1+0.2-0.3

5.551115123125783e-17

In [11]:
"I 'm going on a run"

"I 'm going on a run"

In [12]:
a = 10

In [14]:
print(a)

10

In [1]:
my_string = 'Hello World'

In [2]:
my_string[2]

'l'

In [3]:
my_string[1:4:3]

'e'

In [4]:
my_string

'Hello World'

In [5]:
name = 'Sam'

In [7]:
name = 'Pam'

In [16]:
name2 = 'My name is ' + name

In [17]:
name2

'My name is Pam'

In [18]:
print('This is a string {}'.format('Inserted'))

This is a string Inserted

In [19]:
print('The {} {} {}'.format('brown','quick','fox'))

The brown quick fox

In [20]:
print('The {1} {0} {2}'.format('brown','quick','fox'))

The quick brown fox

In [21]:
print('The {0} {0} {0}'.format('brown','quick','fox'))

The brown brown brown

In [22]:
print('The {f} {f} {f}'.format(b = 'brown',q = 'quick',f ='fox'))

The fox fox fox

In [23]:
print('The {q} {b} {f}'.format(b = 'brown',q = 'quick',f ='fox'))

The quick brown fox

In [34]:
result = 50.2345

In [35]:
result

50.2345

In [36]:
print('The final answer is {}'.format(result))

The final answer is 50.2345

In [37]:
print('The final answer is {r}'.format(r = result))

The final answer is 50.2345

In [38]:
print('The final answer is {r:1.3f}'.format(r = result))

The final answer is 50.234

In [39]:
print('The final answer is {r:10.3f}'.format(r = result))

The final answer is     50.234

#as we can see 10 has added spaces as the length of the string must be equal to the value 10

#3f represents the precision of the final result

In [40]:
print('The final answer is {r:1.5f}'.format(r = result))

The final answer is 50.23450

In [41]:
#from here example of string literal method

In [42]:
name = 'Jose'

In [43]:
print('His name is {}'.format(name))

His name is Jose

In [45]:
print(f'His name is {name}')

His name is Jose

print('His name is {}'.format(name))

In [48]:
name = 'Sam'
age = 3

In [49]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [50]:
#List data type will be discussed from here upon

In [51]:
my_list = ['Hello',100,23.2]

In [52]:
len(my_list)

3

In [53]:
my_list[0]

'Hello'

In [54]:
my_list[1:]

[100, 23.2]

In [55]:
my_list[:2]

['Hello', 100]

In [56]:
another_list = [4,'five']

In [57]:
my_list + another_list

['Hello', 100, 23.2, 4, 'five']

In [58]:
my_list

['Hello', 100, 23.2]

In [59]:
another_list

[4, 'five']

#lists are mutatble and there are functions that can be performed with the lists like adding new elements to the lists(append)

#lists are just like the strings i.e., they are indexed, sliced and interpolated but here reassignment of value of a single element is possible within a list.

In [61]:
new_list = my_list + another_list

In [62]:
new_list

['Hello', 100, 23.2, 4, 'five']

In [63]:
new_list[2] = 15.4

In [64]:
new_list

['Hello', 100, 15.4, 4, 'five']

In [65]:
new_list.append("six")

In [66]:
new_list

['Hello', 100, 15.4, 4, 'five', 'six']

In [69]:
new_list.pop() #this will remove the last entry from the list and will also show the last entry as an output

'five'

In [70]:
new_list

['Hello', 100, 15.4, 4]

In [71]:
new_list.pop(1)

100

In [72]:
new_list

['Hello', 15.4, 4]

In [73]:
new_list = ['a','g','b','l','c'] 
num_list = [4,1,8,5,3]

In [75]:
new_list.sort()

#observe that there is no output so it cannot be assigned to any new variable i.e., another_list=new_list.sort() wont assign the sorted list to the new list

In [77]:
new_list

['a', 'b', 'c', 'g', 'l']

In [78]:
num_list.reverse()

In [79]:
num_list

[3, 5, 8, 1, 4]

In [80]:
new_list.reverse()

In [81]:
new_list

['l', 'g', 'c', 'b', 'a']

Dictionaries are unorganised mappings for storing objects using a key-value pairing which helps user in grabbing objects without knowing the indexed locations